/* Default box-sizing */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* --- VARIABLES --- */
:root {
  --dark-background: #1F2937;
  --quote-background: #E5E7EB;
  --btn-color: #3882F6;
  --main-txt-white: #F9FAF8;
  --secondary-txt-white: #E5E7EB;
  --txt-dark: #1F2937;
}

/* --- HEADER --- */


/* --- FLEX CLASSES --- */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}