/* Default box-sizing */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* --- VARIABLES --- */
:root {
  --dark-background: #1F2937;
  --quote-background: #E5E7EB;
  --btn-color: #3882F6;
  --main-txt-white: #F9FAF8;
  --secondary-txt-white: #E5E7EB;
  --txt-dark: #1F2937;
}

/* -- GLOBAL STYLING --- */
.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- HEADER --- */
header {
  background-color: var(--dark-background);
}

header ul {
  list-style: none;
  margin-left: auto;
  padding: 0;
}

header li,
header a {
  display: inline-block;
}

header ul li:first-child {
  flex-grow: 1;
}

/* --- MAIN SECTION --- */
#main-sect {
  background-color: var(--dark-background);
}

#main-sect img {
  flex: 1;
  height: auto;
  min-width: 300px;
  max-width: 500px;
}

#main-sect>div>div {
  flex: 1;
  min-width: 400px;
}

/* --- INFOS SECTION --- */
#infos-sect img {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 auto;
}

#infos-sect p {
  text-align: center;
}

#infos-sect>div div {
  flex: 1;
  min-width: 250px;
}

/* --- QUOTE SECTION --- */
#quote-sect {
  background-color: var(--quote-background);
}

.author::before {
  content: "-";
}

.author {
  display: block;
  text-align: right;
}

/* --- ACTION SECTION --- */
#action-sect {
  background-color: var(--btn-color);
}


/* --- FOOTER --- */
footer {
  background-color: var(--dark-background);
  text-align: center;
}

/* --- FLEX CLASSES --- */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-gap {
  gap: 20px;
}

.flex-wrap {
  flex-wrap: wrap;
}